/* HEADER */

body {
    background-color: #fff;
}

.d-inline {
    list-style: none;
}

.d-inline-item {
    display: inline;
}

.mr-2 {
    margin-right: .5rem
}


.greennature-logo {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 25px;
}


/* SLIDERS */

.banner-default {
    font-family: "Lato";
    font-weight: 300;
    font-size: 57px;
    line-height: normal;
    color: #ffffff;
}

/* CONTAINER SECTION 5 */

.video-wrapper {
    left: 0px !important;
    top: 20px;
}

/* HEADER */

.greennature-header-wrapper.header-style-5-wrapper{
    position: relative;
}

.greennature-header-inner, .greennature-header-wrapper.header-style-5-wrapper .greennature-header-inner {
    /* background-color: rgb(37, 53, 38); */
    background-color: #17565b;
}

/* MAPA */
.greennature-full-size-wrapper .gdlr-show-all .no-skin {
    padding-top: 0px !important;
}

/* CONTATO */
.greennature-box-with-icon-item ul li {
    text-align: initial;
    list-style: none;
}

/* MAIN BANNER */
#greennature-parallax-wrapper-1:before {
    background-color: rgba(0, 0, 0, 0.5);
}

/* MODAL */
.modal {
    top: 25% !important;
}

/* HOME CTAS */
.greennature-action-ads-item {
    min-height: 300px;
}

.greennature-logo-inner {
    max-width: 100px;
}

/* MAINBANNER */
.mainbanner {
    background-position: right 0px;
    background-repeat: no-repeat;
}

.mainbanner-title, .mainbanner-subtitle {
    display: block !important;
}

.top-navigation-wrapper {
    padding: 10px;
}

ul.d-inline {
    margin: auto;
}

.no-margin, .greennature-form-fields .columns-wrap.greennature-left {
    margin-right: 0px !important;
    margin-left: 15px !important;
}

/* .action-ads-content-personalizado {
    position: absolute;
    bottom: 80px;
} */

.bioforca-card {
    min-height: 460px;
    margin-bottom: 35px;
}

.thumb-personalizada {
    height: 450px;
}

.bio-descricao {
    margin-bottom: 5rem;
}

.custom-bg {
    background-position: right;
}

.gdl-search-form input[type="submit"] {
    background-image: url('../img/icon-search.png');
}

.search-image {
    height: 200px;
}

.search-wrapper > .column {
    margin-top: 35px;
    margin-bottom: 35px;
}

.greennature-blog-content {
    margin-top: 35px;
}

.greennature-blog-content p {
    font-size: 16px;
}

.custom-bg {
    margin: 55px;
}

/* .greennature-blog-full .greennature-blog-thumbnail {
    height: 400px;
} */


.img-galery {
    margin: 15px 0px;
}


.action-ads-button.large.greennature-button:hover {
    background-color: #fff !important;
    transition: .2s ease;
    color: #6d5b1c !important;
}

.action-ads-button.large.greennature-button.bioforca-button {
    border: 2px #fec428 solid;
}

.action-ads-button.large.greennature-button.bioforca-button:hover {
    background-color: #fff !important;
    color: #6d5b1c; 
}



.greennature-logo-inner {
    max-width: 120px;
}


.slick-slide {
    margin: 0px 15px;
}

.empresas-img img {
    height: 300px;
}

.slick-slide img {
    margin: auto;
}


#greennature-responsive-navigation.dl-menuwrapper button {
    background-color: #8dc63f;
}

.dl-menuwrapper button:after {
    color: #fbb040 !important;
}


.accordion-content ul li {
    font-size: 16px;
}

.crop-text {
    margin-top: 30px;
}

.crop-text p {
    font-size: 18px;
}

.custom-text {
    font-size:15px;
}

.nivo-directionNav a {
    background-color: transparent;
}


.nivo-prevNav {
    background-image: url('../plugins/nivo-slider/themes/default/back.png');
    position:absolute;
    top:45%;
    z-index:1000;
    cursor:pointer;
    display:block;
    height: 30px;
    width: 30px;
    text-indent:9999px;
    background-repeat:no-repeat;
    opacity: 1; 
    -webkit-transition: all 200ms ease-in-out; 
    -moz-transition: all 200ms ease-in-out; 
    -o-transition: all 200ms ease-in-out; 
    transition: all 200ms ease-in-out;
}

.nivo-nextNav {
    background-image: url('../plugins/nivo-slider/themes/default/next.png');
    position:absolute;
    top:45%;
    z-index:1000;
    cursor:pointer;
    display:block;
    height: 30px;
    width: 30px;
    text-indent:9999px;
    background-repeat:no-repeat;
    opacity: 1; 
    -webkit-transition: all 200ms ease-in-out; 
    -moz-transition: all 200ms ease-in-out; 
    -o-transition: all 200ms ease-in-out; 
    transition: all 200ms ease-in-out;
}


.greennature-accordion-item.style-1 .accordion-title{
    text-transform: uppercase;
}


@media only screen and (max-width: 767px) {
    #greennature-responsive-navigation .dl-trigger {
        top: 35px;
    }

    .d-inline li {
        display: block !important;
    }

    #link-content-home {
        display: block !important;
        text-align: end;
    }

    #caret-down-home {
        margin-top: 2.5rem;
        font-size: 32px !important;
    }

    .greennature-accordion-item.style-1 .accordion-content {
        margin-left: 0px !important;
    }

    .six.columns.video-wrapper {
        margin-bottom: 3rem;
    }

    .greennature-item-title-wrapper.greennature-medium .greennature-item-title {
        font-size: 20px;
    }

    .slick-slide {
        margin: 0px 40px;
    }

    .copyright-left, .copyright-right {
        text-align: center;
        display: block;
        float: none;
    }
    
    .slick-slide {
 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
