html.ltie9 body, body{ min-width: 1140px; } .container{ max-width: 1140px; } .greennature-caption-wrapper .greennature-caption-inner{ max-width: 1140px; }
.body-wrapper.greennature-boxed-style{ max-width: 1220px; overflow: hidden; } .body-wrapper.greennature-boxed-style .greennature-header-wrapper{ max-width: 1220px; margin: 0px auto; }
.greennature-logo-inner{ max-width: 190px; }
.greennature-logo{ margin-top: 23px; }
.greennature-logo{ margin-bottom: 28px; }
.greennature-navigation-wrapper, .greennature-logo-right-text{ margin-top: 35px; }
.greennature-navigation-wrapper .greennature-main-menu > li > a{ padding-bottom: 34px; }
.top-social-wrapper .social-icon a{ color: #fcfcfc; }
h1, h2, h3, h4, h5, h6, .greennature-title-font{ font-family: "Lato"; }
body, input, textarea, select, .greennature-content-font{ font-family: "Lato"; }
.greennature-navigation{ font-family: "Noto Sans"; }
.greennature-testimonial-item.plain-style .testimonial-content{ font-family: "Merriweather"; }
.greennature-testimonial-item.plain-style.greennature-left .testimonial-item:before{ font-family: "Mystery Quest"; }
.greennature-slider-item{ font-family: "Lato"; }
body{ font-size: 13px; }
h1{ font-size: 47px; }
h2{ font-size: 41px; }
h3{ font-size: 32px; }
h4{ font-size: 26px; }
h5{ font-size: 21px; }
h6{ font-size: 16px; }
.top-navigation-wrapper{ background-color: #272727; }
.top-navigation-wrapper{ color: #cecece; }
.top-navigation-wrapper a{ color: #f2f2f2; }
.greennature-header-inner, .greennature-header-wrapper.header-style-5-wrapper .greennature-header-inner{ background-color: rgba(37, 53, 38, 0.85); }@media only screen and (max-width: 767px) { .greennature-header-wrapper.header-style-5-wrapper .greennature-header-inner{ background-color: #253526; } }
.greennature-main-menu > li > a, .greennature-main-menu > li > a i{ color: #ffffff; } @media only screen and (max-width: 1100px) { body .greennature-donate-button, body .greennature-donate-button:hover, body .greennature-top-woocommerce-button{ color: #ffffff; }}
.greennature-main-menu > li:hover > a, .greennature-main-menu > li.current-menu-item > a, .greennature-main-menu > li.current-menu-ancestor > a{ color: #90ba92; opacity: 1; filter: alpha(opacity=100); }.greennature-navigation-gimmick{ background-color: #90ba92; }
.greennature-button-overlay{ background-color: #ecb338; }
.greennature-button-overlay{ border-color: #8c6e16; }
.greennature-donate-button, .greennature-donate-button:hover{ color: #685617; }
.greennature-woo-button-overlay{ background-color: #f7c644; }
.greennature-woo-button-overlay{ border-color: #8e7126; }
.greennature-top-woocommerce-button{ color: #60511e; }
.greennature-main-menu > .greennature-normal-menu .sub-menu, .greennature-main-menu > .greennature-mega-menu .sf-mega{ border-top-color: #1c1c1c; }
.greennature-main-menu > .greennature-normal-menu li , .greennature-main-menu > .greennature-mega-menu .sf-mega{ background-color: #25221a; }
.greennature-main-menu > li > .sub-menu a, .greennature-main-menu > li > .sf-mega a{ color: #f4f4f4; }
.greennature-main-menu > li > .sub-menu a:hover, .greennature-main-menu > li > .sub-menu .current-menu-item > a, .greennature-main-menu > li > .sub-menu .current-menu-ancestor > a, .greennature-main-menu > li > .sf-mega a:hover, .greennature-main-menu > li > .sf-mega .current-menu-item > a, .greennature-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #eddbc0; } .greennature-main-menu .greennature-normal-menu li > a.sf-with-ul:after { border-left-color: #eddbc0; }
.greennature-main-menu .sf-mega-section-inner > ul > li > a:hover, .greennature-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #332c20; }
.greennature-main-menu > li > .sub-menu *, .greennature-main-menu > li > .sf-mega *{ border-color: #493e2b; }
.greennature-main-menu > li > .sf-mega .sf-mega-section-inner > a { color: #ffffff; }
.greennature-main-menu > li > .sf-mega .sf-mega-section-inner > a:hover, .greennature-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-item > a, .greennature-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-ancestor > a { color: #ffffff; }
#greennature-responsive-navigation.dl-menuwrapper button { background-color: #0c0c0c; }
#greennature-responsive-navigation.dl-menuwrapper button:hover, #greennature-responsive-navigation.dl-menuwrapper button.dl-active, #greennature-responsive-navigation.dl-menuwrapper ul{ background-color: #161616; }
body{ background-color: #dddddd; }
.body-wrapper, .greennature-single-lightbox-container{ background-color: #ffffff; }
.greennature-page-title, .greennature-page-title-gimmick{ color: #ffffff; }
.greennature-page-caption{ color: #ffffff; }
h1, h2, h3, h4, h5, h6, .greennature-title, .greennature-title a{ color: #3f3f3f; }
.greennature-item-title-wrapper .greennature-item-title{ color: #3f3f3f; border-color: #3f3f3f; }
.greennature-item-title-divider{ border-color: #3f3f3f; }
.greennature-item-title-wrapper .greennature-item-caption{ color: #a5a3a3; }
body{ color: #808080; }
a{ color: #5dc269; }
a:hover{ color: #2c8e3b; }
body *{ border-color: #dddddd; }
.page-not-found-block{ background-color: #d65938; }
.page-not-found-block{ color: #ffffff; }
.page-not-found-search  .gdl-search-form input[type="text"]{ background-color: #963a20; }
.page-not-found-search  .gdl-search-form input[type="text"]{ color: #d57f5c; }
.greennature-sidebar .greennature-widget-title{ color: #383838; }
.greennature-sidebar *{ border-color: #eeeeee; }
.greennature-sidebar ul li:before { border-color: #bdbdbd; }
.gdl-search-form input{ background-color: #f7f7f7; }
.gdl-search-form input{ color: #9d9d9d; }
.gdl-search-form input{ border-color: #ebebeb; }
.tagcloud a{ background-color: #5dc269; }
.tagcloud a, .tagcloud a:hover{ color: #ffffff; }
.greennature-action-ads-item .action-ads-caption{ color: #ffffff; }
.greennature-action-ads-item .action-ads-content{ color: #ffffff; }
.about-us-title{ color: #3a3a3a; }
.about-us-caption{ color: #9c9c9c; }
.greennature-accordion-item.style-1 .pre-active .accordion-title{ color: #3c3c3c; }
.greennature-accordion-item.style-1 .accordion-title{ color: #8d8d8d; }
.greennature-accordion-item.style-1 .accordion-title i{ background-color: #f3f3f3; }
.greennature-accordion-item.style-1 .accordion-title i{ color: #a8a8a8; }
.greennature-accordion-item.style-1 .accordion-title i.icon-minus{ background-color: #5dc269; }
.greennature-accordion-item.style-1 .accordion-title i.icon-minus{ color: #ffffff; }
.greennature-banner-item-wrapper .flex-direction-nav .flex-prev, .greennature-banner-item-wrapper .flex-direction-nav .flex-next{ color: #999999; }
.greennature-box-with-icon-item{ background-color: #f5f5f5; }
.greennature-box-with-icon-item > i, .greennature-box-with-icon-item .box-with-icon-title{ color: #585858; }
.greennature-box-with-icon-item{ color: #929292; }
.greennature-button, .greennature-button:hover, input[type="button"], input[type="submit"], .greennature-top-menu > .greennature-mega-menu .sf-mega a.greennature-button{ color: #ffffff; }
.greennature-button, input[type="button"], input[type="submit"]{ background-color: #5dc269; }.greennature-border-button{ border-color: #5dc269; color: #5dc269; }
.greennature-button, input[type="submit"]{ border-color: #4b9e55; }
.column-service-title{ color: #5dc269; }
.column-service-content{ color: #909090; }
.column-service-icon i{ color: #5dc269; }.greennature-column-service-item.greennature-type-2 .column-service-icon{ border-color: #5dc269; }
.list-with-icon .list-with-icon-title{ color: #333333; }
.list-with-icon .list-with-icon-icon{ border-color: #333333; color: #333333; }
.greennature-menu-title, .greennature-menu-icon, .greennature-menu-price{ color: #5dc269; }
.greennature-menu-ingredients-caption { color: #818181; }
.greennature-list-menu-gimmick{ border-color: #000000; color: #000000; }
.greennature-pie-chart-item .pie-chart-title{ color: #313131; }
.greennature-price-inner-item{ background-color: #f9f9f9; }
.greennature-price-item .price-title-wrapper{ background-color: #454545; }
.greennature-price-item .price-title{ color: #ffffff; }
.greennature-price-item .price-tag{ background-color: #838383; }
.greennature-price-item .best-price .price-tag{ background-color: #5dc269; }
.greennature-price-item .price-tag{ color: #ffffff; }
.greennature-process-tab .greennature-process-icon{ background-color: #f3f3f3; }
.greennature-process-tab .greennature-process-icon{ border-color: #e3e3e3; }
.greennature-process-tab .greennature-process-icon i{ color: #aaaaaa; }
.greennature-process-tab .process-line .process-line-divider{ border-color: #e3e3e3; } .greennature-process-tab .process-line .icon-chevron-down, .greennature-process-tab .process-line .icon-chevron-right{ color: #e3e3e3; }
.greennature-process-wrapper .greennature-process-tab .greennature-process-title{ color: #454545; }
.greennature-skill-item-wrapper{ color: #3a3a3a; }
.stunning-text-title, .stunning-item-title{ color: #414141; }
.stunning-text-caption, .stunning-item-caption{ color: #949494; }
.greennature-stunning-text-item.with-padding{ background-color: #f3f3f3; }
.greennature-stunning-text-item.with-border{ border-color: #f3f3f3; }
.tab-title-wrapper .tab-title{ background-color: #f9f9f9; }
.tab-title-wrapper .tab-title{ color: #3b3b3b; }
.tab-title-wrapper .tab-title.active, .tab-content-wrapper{ background-color: #ffffff; }
table tr th{ background-color: #5dc269; }
table tr th{ color: #ffffff; }
table.style-2 tr:nth-child(odd){ background-color: #f9f9f9; }
table.style-2 tr:nth-child(odd){ color: #949494; }
table.style-2 tr:nth-child(even){ background-color: #f3f3f3; }
table.style-2 tr:nth-child(even){ color: #949494; }
.greennature-blog-title, .greennature-blog-title a{ color: #5dc269; }
.greennature-blog-title a:hover{ color: #3f873e; }
.greennature-blog-date-wrapper{ color: #4e4e4e; }
.blog-info, .blog-info a, .blog-info i{ color: #b0b0b0; }
.greennature-blog-thumbnail .greennature-sticky-banner{ background-color: #232323; }
.greennature-blog-thumbnail .greennature-sticky-banner, .greennature-blog-thumbnail .greennature-sticky-banner i{ color: #ffffff; }
.greennature-social-share, .greennature-social-share a{ background-color: #f3f3f3; }
.greennature-social-share .social-share-title{ color: #353535; }
.greennature-standard-style .greennature-single-blog-tag a{ background-color: #5dc269; }
.greennature-standard-style .greennature-single-blog-tag a{ color: #ffffff; }
.format-aside .greennature-blog-content{ background-color: #5dc269; }
.format-aside .greennature-blog-content{ color: #ffffff; }
.format-quote .greennature-top-quote blockquote{ color: #8d8d8d; }
.format-quote .greennature-quote-author{ color: #5dc269; }
.greennature-single-nav > div i{ background-color: #f3f3f3; }
.greennature-single-nav > div i{ color: #8d8d8d; }
.portfolio-item-filter a{ color: #5b5b5b; }
.portfolio-item-filter a.active{ color: #5dc269; }
.greennature-image-link-shortcode .greennature-image-link-overlay, .portfolio-thumbnail .portfolio-overlay{ background-color: #1c1c1c; }
.greennature-image-link-shortcode .greennature-image-link-icon, .portfolio-thumbnail .portfolio-icon i, .greennature-image-link-shortcode .greennature-image-frame-content,.greennature-modern-portfolio .portfolio-title a, .greennature-modern-portfolio .portfolio-title a:hover, .greennature-modern-portfolio .greennature-portfolio-info a{ border-color: #ffffff; color: #ffffff; }
.portfolio-title a{ color: #5dc269; }
.portfolio-title a:hover{ color: #3f873e; }
.portfolio-info, .portfolio-info a{ color: #b0b0b0; }
.greennature-pagination .page-numbers{ background-color: #ebebeb; }
.greennature-pagination .page-numbers{ color: #979797; }
.greennature-pagination .page-numbers:hover, .greennature-pagination .page-numbers.current{ background-color: #5dc269; }
.greennature-pagination .page-numbers:hover, .greennature-pagination .page-numbers.current{ color: #ffffff; }
.greennature-personnel-item .personnel-item-inner{ background-color: #f5f5f5; }
.greennature-personnel-item.round-style .personnel-item{ background-color: #5dc269; }
.greennature-personnel-item .personnel-author{ color: #3b3b3b; }
.greennature-personnel-item .personnel-author-image{ border-color: #5dc269; }
.greennature-personnel-item .personnel-position{ color: #acacac; }
.greennature-personnel-item .personnel-content{ color: #959595; }
.greennature-personnel-item .personnel-social i{ color: #3b3b3b; }
.greennature-testimonial-item .testimonial-item-inner, .greennature-testimonial-item .testimonial-author-image{ background-color: #f5f5f5; }
.greennature-testimonial-item .testimonial-content{ color: #9b9b9b; }
.greennature-testimonial-item.plain-style.greennature-left .testimonial-item:before{ color: #5dc269; }
.greennature-testimonial-item .testimonial-author{ color: #5dc269; }
.greennature-testimonial-item .testimonial-position{ color: #4d4d4d; }
.greennature-testimonial-item .testimonial-author-image{ border-color: #5dc269; }
.greennature-testimonial-item.box-style .testimonial-item-inner:after{ border-top-color: #dddddd; border-left-color: #dddddd; }
.greennature-gallery-thumbnail .gallery-item{ background-color: #e5e5e5; }
.greennature-gallery-thumbnail-container .gallery-caption{ background-color: #000000; }
.greennature-gallery-thumbnail-container .gallery-caption{ color: #ffffff; }
.nivo-controlNav a, .flex-control-paging li a{ background-color: #ffffff; }
.nivo-controlNav a:hover, .nivo-controlNav a.active, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color: #5e5e5e; }
.nivo-controlNav a, .flex-control-paging li a{ border-color: #5e5e5e !important; }
.nivo-directionNav a, .flex-direction-nav a, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ background-color: #000000; }
body .nivo-directionNav a, body .flex-direction-nav a, body .flex-direction-nav a:hover, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ color: #ffffff; }
.greennature-caption{ background-color: #000000; }
.greennature-caption-title{ color: #ffffff; }
.greennature-caption-text{ color: #ffffff; }
.greennature-caption-wrapper.post-slider{ background-color: #000000; }
.greennature-caption-wrapper.post-slider .greennature-caption-title{ color: #ffffff; }
.greennature-caption-wrapper.post-slider .greennature-caption-text{ color: #dddddd; }
.greennature-post-slider-item.style-no-excerpt .greennature-caption-wrapper .greennature-caption-date, .greennature-post-slider-item.style-no-excerpt .greennature-caption-wrapper .greennature-title-link{ color: #ffffff; }
.greennature-post-slider-item.style-no-excerpt .greennature-caption-wrapper .greennature-caption-date, .greennature-post-slider-item.style-no-excerpt .greennature-caption-wrapper .greennature-title-link{ background-color: #5dc269; }
.greennature-item-title-wrapper .greennature-flex-prev, .greennature-item-title-wrapper .greennature-flex-next{ color: #6d6d6d; }
input[type="text"], input[type="email"], input[type="password"], textarea{ background-color: #f5f5f5; }
input[type="text"], input[type="email"], input[type="password"], textarea{ color: #797979; }input::input-placeholder{ color:#797979; } input::-webkit-input-placeholder{ color:#797979; }input::-moz-placeholder{ color:#797979; } input:-moz-placeholder{ color:#797979; }input:-ms-input-placeholder{ color:#797979; }textarea::input-placeholder{ color:#797979; } textarea::-webkit-input-placeholder{ color:#797979; }textarea::-moz-placeholder{ color:#797979; } textarea:-moz-placeholder{ color:#797979; }textarea:-ms-input-placeholder{ color:#797979; }
.footer-wrapper{ background-color: #231e18; }
.footer-wrapper .greennature-widget-title, .footer-wrapper .greennature-widget-title a{ color: #dddddd; }
.footer-wrapper{ color: #bfbfbf; }
.footer-wrapper a{ color: #7f7f7f; }
.footer-wrapper a:hover{ color: #cecece; }
.footer-wrapper *{ border-color: #382f24; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ background-color: #141414; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ color: #828282; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ border-color: #313131; }
.footer-wrapper .greennature-button, .footer-wrapper .greennature-button:hover, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ color: #ffffff; }
.footer-wrapper .greennature-button, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ background-color: #5dc269; }
.footer-wrapper .tagcloud a{ background-color: #5dc269; }
.footer-wrapper .tagcloud a, .footer-wrapper .tagcloud a:hover{ color: #ffffff; }
.copyright-wrapper{ background-color: #191612; }
.copyright-wrapper{ color: #999999; }
.footer-wrapper .copyright-wrapper{ border-color: #191612; }
html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce-message,html .woocommerce div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {  background: #5dc269; }html .woocommerce .star-rating, html .woocommerce-page .star-rating, html .woocommerce .star-rating:before, html .woocommerce-page .star-rating:before, html .woocommerce div.product span.price, html .woocommerce div.product p.price, html .woocommerce #content div.product span.price, html .woocommerce #content div.product p.price, html .woocommerce-page div.product span.price, html .woocommerce-page div.product p.price, html .woocommerce-page #content div.product span.price, html .woocommerce-page #content div.product p.price {color: #5dc269; }
html .woocommerce-message  a.button, html .woocommerce-error  a.button, html .woocommerce-info  a.button, html .woocommerce-message, html .woocommerce-error, html .woocommerce-info, html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce nav.woocommerce-pagination ul li span.current, html .woocommerce-page nav.woocommerce-pagination ul li span.current, html .woocommercenav.woocommerce-pagination ul li a:hover, html .woocommerce-page nav.woocommerce-pagination ul li a:hover{ color: #ffffff; }
html .woocommerce-info{ background: #389EC5; }
html .woocommerce-error{ background: #C23030; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ background: #5dc269; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ color: #ffffff; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ border-bottom: 3px solid #3ca348; }
html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar { background: #ebebeb; }html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar,html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text,html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img, html .woocommerce ul.products li.product a img:hover ,html .woocommerce-page ul.products li.product a img:hover, html .woocommerce-page div.product div.images img, html .woocommerce-page #content div.product div.images img,html .woocommerce form.login, html .woocommerce form.checkout_coupon, html .woocommerce form.register, html .woocommerce-page form.login,html .woocommerce-page form.checkout_coupon, html .woocommerce-page form.register, html .woocommerce table.cart td.actions .coupon .input-text,html .woocommerce #content table.cart td.actions .coupon .input-text, html .woocommerce-page table.cart td.actions .coupon .input-text,html .woocommerce-page #content table.cart td.actions .coupon .input-text { border: 1px solid #ebebeb; }html .woocommerce div.product .woocommerce-tabs ul.tabs:before, html .woocommerce #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th,html .woocommerce-page table.shop_table tfoot td, html .woocommerce-page table.shop_table tfoot th { border-bottom: 1px solid #ebebeb; }html .woocommerce .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce .cart-collaterals .cart_totals table tr:first-child td,html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td { border-top: 3px #ebebeb solid; }html .woocommerce .cart-collaterals .cart_totals tr td, html .woocommerce .cart-collaterals .cart_totals tr th,html .woocommerce-page .cart-collaterals .cart_totals tr td, html .woocommerce-page .cart-collaterals .cart_totals tr th { border-bottom: 2px solid #ebebeb; }
html .woocommerce div.product .woocommerce-tabs ul.tabs li, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li ,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove, html .woocommerce-page #content table.cart a.remove, html .woocommerce #payment, html .woocommerce-page #payment, html .woocommerce .customer_details,html .woocommerce ul.order_details, html .woocommerce nav.woocommerce-pagination ul li a, html .woocommerce-page nav.woocommerce-pagination ul li a,html .woocommerce form .form-row input.input-text, html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row input.input-text, html .woocommerce-page form .form-row textarea, html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty,html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { background: #f3f3f3; }html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty { border: 1px solid #f3f3f3; }
html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { border-top: 2px solid #e5e5e5; }html .woocommerce table.cart a.remove:hover, html .woocommerce #content table.cart a.remove:hover, html .woocommerce-page table.cart a.remove:hover,html .woocommerce-page #content table.cart a.remove:hover, html #payment div.payment_box, html .woocommerce-page #payment div.payment_box { background: #e5e5e5; }
html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, .cart-subtotal th, .shipping th , .total th, html .woocommerce table.shop_attributes .alt th,html .woocommerce-page table.shop_attributes .alt th, html .woocommerce ul.products li.product .price, html.woocommerce-page ul.products li.product .price { color: #333333; }
html .woocommerce ul.products li.product .price del, html .woocommerce-page ul.products li.product .price del,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove,html .woocommerce-page #content table.cart a.remove { color: #888888; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus,
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus,
												html .woocommerce-page #content .quantity .minus { border: 1px solid #a0a0a0; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus,
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus,
												html .woocommerce-page #content .quantity .minus { color: #ffffff; }
html .woocommerce .quantity .plus, html .woocommerce #content .quantity .plus,  html .woocommerce-page .quantity .plus,html .woocommerce-page #content .quantity .plus, html .woocommerce .quantity .plus:hover, html .woocommerce #content .quantity .plus:hover,html .woocommerce-page .quantity .plus:hover,  html .woocommerce-page #content .quantity .plus:hover{ background: #9a9a9a; }
html .woocommerce .quantity .minus, html .woocommerce #content .quantity .minus,  html .woocommerce-page .quantity .minus,html .woocommerce-page #content .quantity .minus, html .woocommerce .quantity .minus:hover, html .woocommerce #content .quantity .minus:hover,html .woocommerce-page .quantity .minus:hover,  html .woocommerce-page #content .quantity .minus:hover{ background: #b6b6b6; }
.half-container{ max-width: 570px; }
.greennature-skin-dark-skin, .greennature-skin-dark-skin .greennature-skin-content{ color: #c4c4c4; }
.greennature-skin-dark-skin i, .greennature-skin-dark-skin .greennature-flex-prev, .greennature-skin-dark-skin .greennature-flex-next{ color: #ffffff; }
.greennature-skin-dark-skin h1, .greennature-skin-dark-skin h2, .greennature-skin-dark-skin h3, .greennature-skin-dark-skin h4, .greennature-skin-dark-skin h5, .greennature-skin-dark-skin h6, .greennature-skin-dark-skin .greennature-skin-title, .greennature-skin-dark-skin .greennature-skin-title a{ color: #ffffff; }
.greennature-skin-dark-skin .greennature-skin-title a:hover{ color: #ffffff; }
.greennature-skin-dark-skin .greennature-skin-info, .greennature-skin-dark-skin .greennature-skin-info a, .greennature-skin-dark-skin .greennature-skin-info a:hover{ color: #ffffff; }
.greennature-skin-dark-skin a, .greennature-skin-dark-skin .greennature-skin-link, .greennature-skin-dark-skin .greennature-skin-link-color{ color: #ffffff; }
.greennature-skin-dark-skin a:hover, .greennature-skin-dark-skin .greennature-skin-link:hover{ color: #d1d1d1; }
.greennature-skin-dark-skin .greennature-skin-box, .greennature-skin-dark-skin .greennature-column-service-item .greennature-skin-box{ background-color: #969696; }
.greennature-skin-dark-skin *, .greennature-skin-dark-skin .greennature-skin-border{ border-color: #828282; }
.greennature-skin-dark-skin .greennature-button, .greennature-skin-dark-skin .greennature-button:hover, .greennature-skin-dark-skin input[type="button"], .greennature-skin-dark-skin input[type="submit"]{ color: #ffffff; background-color: #5dc269;  }
.greennature-skin-dark-testimonial, .greennature-skin-dark-testimonial .greennature-skin-content{ color: #ffffff; }
.greennature-skin-dark-testimonial i, .greennature-skin-dark-testimonial .greennature-flex-prev, .greennature-skin-dark-testimonial .greennature-flex-next{ color: #ffffff; }
.greennature-skin-dark-testimonial h1, .greennature-skin-dark-testimonial h2, .greennature-skin-dark-testimonial h3, .greennature-skin-dark-testimonial h4, .greennature-skin-dark-testimonial h5, .greennature-skin-dark-testimonial h6, .greennature-skin-dark-testimonial .greennature-skin-title, .greennature-skin-dark-testimonial .greennature-skin-title a{ color: #ffffff; }
.greennature-skin-dark-testimonial .greennature-skin-title a:hover{ color: #ffffff; }
.greennature-skin-dark-testimonial .greennature-skin-info, .greennature-skin-dark-testimonial .greennature-skin-info a, .greennature-skin-dark-testimonial .greennature-skin-info a:hover{ color: #ffffff; }
.greennature-skin-dark-testimonial a, .greennature-skin-dark-testimonial .greennature-skin-link, .greennature-skin-dark-testimonial .greennature-skin-link-color{ color: #e36d39; }
.greennature-skin-dark-testimonial a:hover, .greennature-skin-dark-testimonial .greennature-skin-link:hover{ color: #ffffff; }
.greennature-skin-dark-testimonial .greennature-skin-box, .greennature-skin-dark-testimonial .greennature-column-service-item .greennature-skin-box{ background-color: #2b2b2b; }
.greennature-skin-dark-testimonial *, .greennature-skin-dark-testimonial .greennature-skin-border{ border-color: #ffffff; }
.greennature-skin-dark-testimonial .greennature-button, .greennature-skin-dark-testimonial .greennature-button:hover, .greennature-skin-dark-testimonial input[type="button"], .greennature-skin-dark-testimonial input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.greennature-skin-light-grey, .greennature-skin-light-grey .greennature-skin-content{ color: #999999; }
.greennature-skin-light-grey i, .greennature-skin-light-grey .greennature-flex-prev, .greennature-skin-light-grey .greennature-flex-next{ color: #e0e0e0; }
.greennature-skin-light-grey h1, .greennature-skin-light-grey h2, .greennature-skin-light-grey h3, .greennature-skin-light-grey h4, .greennature-skin-light-grey h5, .greennature-skin-light-grey h6, .greennature-skin-light-grey .greennature-skin-title, .greennature-skin-light-grey .greennature-skin-title a{ color: #353535; }
.greennature-skin-light-grey .greennature-skin-title a:hover{ color: #5e5e5e; }
.greennature-skin-light-grey .greennature-skin-info, .greennature-skin-light-grey .greennature-skin-info a, .greennature-skin-light-grey .greennature-skin-info a:hover{ color: #828282; }
.greennature-skin-light-grey a, .greennature-skin-light-grey .greennature-skin-link, .greennature-skin-light-grey .greennature-skin-link-color{ color: #5dc269; }
.greennature-skin-light-grey a:hover, .greennature-skin-light-grey .greennature-skin-link:hover{ color: #7fc188; }
.greennature-skin-light-grey .greennature-skin-box, .greennature-skin-light-grey .greennature-column-service-item .greennature-skin-box{ background-color: #a5a5a5; }
.greennature-skin-light-grey *, .greennature-skin-light-grey .greennature-skin-border{ border-color: #eaeaea; }
.greennature-skin-light-grey .greennature-button, .greennature-skin-light-grey .greennature-button:hover, .greennature-skin-light-grey input[type="button"], .greennature-skin-light-grey input[type="submit"]{ color: #a3a3a3; background-color: #f2f2f2;  }
.greennature-skin-service-half, .greennature-skin-service-half .greennature-skin-content{ color: #909090; }
.greennature-skin-service-half i, .greennature-skin-service-half .greennature-flex-prev, .greennature-skin-service-half .greennature-flex-next{ color: #5dc269; }
.greennature-skin-service-half h1, .greennature-skin-service-half h2, .greennature-skin-service-half h3, .greennature-skin-service-half h4, .greennature-skin-service-half h5, .greennature-skin-service-half h6, .greennature-skin-service-half .greennature-skin-title, .greennature-skin-service-half .greennature-skin-title a{ color: #5dc269; }
.greennature-skin-service-half .greennature-skin-title a:hover{ color: #5dc269; }
.greennature-skin-service-half .greennature-skin-info, .greennature-skin-service-half .greennature-skin-info a, .greennature-skin-service-half .greennature-skin-info a:hover{ color: #adadad; }
.greennature-skin-service-half a, .greennature-skin-service-half .greennature-skin-link, .greennature-skin-service-half .greennature-skin-link-color{ color: #5dc269; }
.greennature-skin-service-half a:hover, .greennature-skin-service-half .greennature-skin-link:hover{ color: #5dc269; }
.greennature-skin-service-half .greennature-skin-box, .greennature-skin-service-half .greennature-column-service-item .greennature-skin-box{ background-color: #ffffff; }
.greennature-skin-service-half *, .greennature-skin-service-half .greennature-skin-border{ border-color: #e5e5e5; }
.greennature-skin-service-half .greennature-button, .greennature-skin-service-half .greennature-button:hover, .greennature-skin-service-half input[type="button"], .greennature-skin-service-half input[type="submit"]{ color: #ffffff; background-color: #5dc269;  }
.greennature-skin-newsletter, .greennature-skin-newsletter .greennature-skin-content{ color: #ffffff; }
.greennature-skin-newsletter i, .greennature-skin-newsletter .greennature-flex-prev, .greennature-skin-newsletter .greennature-flex-next{ color: #ffffff; }
.greennature-skin-newsletter h1, .greennature-skin-newsletter h2, .greennature-skin-newsletter h3, .greennature-skin-newsletter h4, .greennature-skin-newsletter h5, .greennature-skin-newsletter h6, .greennature-skin-newsletter .greennature-skin-title, .greennature-skin-newsletter .greennature-skin-title a{ color: #fec428; }
.greennature-skin-newsletter .greennature-skin-title a:hover{ color: #fec428; }
.greennature-skin-newsletter .greennature-skin-info, .greennature-skin-newsletter .greennature-skin-info a, .greennature-skin-newsletter .greennature-skin-info a:hover{ color: #ffffff; }
.greennature-skin-newsletter a, .greennature-skin-newsletter .greennature-skin-link, .greennature-skin-newsletter .greennature-skin-link-color{ color: #ffffff; }
.greennature-skin-newsletter a:hover, .greennature-skin-newsletter .greennature-skin-link:hover{ color: #ffffff; }
.greennature-skin-newsletter .greennature-skin-box, .greennature-skin-newsletter .greennature-column-service-item .greennature-skin-box{ background-color: #ffffff; }
.greennature-skin-newsletter *, .greennature-skin-newsletter .greennature-skin-border{ border-color: #ffffff; }
.greennature-skin-newsletter .greennature-button, .greennature-skin-newsletter .greennature-button:hover, .greennature-skin-newsletter input[type="button"], .greennature-skin-newsletter input[type="submit"]{ color: #ffffff; background-color: #5dc269;  }
.greennature-skin-brown-column-service, .greennature-skin-brown-column-service .greennature-skin-content{ color: #ffffff; }
.greennature-skin-brown-column-service i, .greennature-skin-brown-column-service .greennature-flex-prev, .greennature-skin-brown-column-service .greennature-flex-next{ color: #ffffff; }
.greennature-skin-brown-column-service h1, .greennature-skin-brown-column-service h2, .greennature-skin-brown-column-service h3, .greennature-skin-brown-column-service h4, .greennature-skin-brown-column-service h5, .greennature-skin-brown-column-service h6, .greennature-skin-brown-column-service .greennature-skin-title, .greennature-skin-brown-column-service .greennature-skin-title a{ color: #ffffff; }
.greennature-skin-brown-column-service .greennature-skin-title a:hover{ color: #ffffff; }
.greennature-skin-brown-column-service .greennature-skin-info, .greennature-skin-brown-column-service .greennature-skin-info a, .greennature-skin-brown-column-service .greennature-skin-info a:hover{ color: #ffffff; }
.greennature-skin-brown-column-service a, .greennature-skin-brown-column-service .greennature-skin-link, .greennature-skin-brown-column-service .greennature-skin-link-color{ color: #ffffff; }
.greennature-skin-brown-column-service a:hover, .greennature-skin-brown-column-service .greennature-skin-link:hover{ color: #ffffff; }
.greennature-skin-brown-column-service .greennature-skin-box, .greennature-skin-brown-column-service .greennature-column-service-item .greennature-skin-box{ background-color: #ffffff; }
.greennature-skin-brown-column-service *, .greennature-skin-brown-column-service .greennature-skin-border{ border-color: #ffffff; }
.greennature-skin-brown-column-service .greennature-button, .greennature-skin-brown-column-service .greennature-button:hover, .greennature-skin-brown-column-service input[type="button"], .greennature-skin-brown-column-service input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
